.portfolio-grid {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(auto, 1fr);
    gap: 40px;
    .portfolio-container {
        max-width: 1450px;
        position: relative;
        box-shadow: 8px 8px 0px 0px #2b2a2a;
        .img-container {
            background-color: black;
            width: 100%;
            line-height: 0px;
            img {
                width: 100%;
                height: auto;
                opacity: 0.9;
            }
        }
        .language-container {
            position: absolute;
            width: 100%;
            left: 50%;
            top: 75%;
            transform: translate(-50%);
            .language {
                width: 50%;
                height: 80%;
                margin: auto;
                display: none;
                list-style-type: none;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                li {
                    font-size: 15px;
                    background-color: $background_color;
                    color: $font_color;
                    padding: 5px;
                    margin: 2px;
                    border-radius: 3px;
                    font-weight: bold;
                }
            }
        }
        &:hover {
            img {
                opacity: 0.1;
            }
            .language {
                display: flex;
            }
        }
    }
}