* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $font_color;
}
p {
    font-weight: 500;
    font-size: 16px;
    a {
        color: $font_color_title;
        text-decoration: none;
        padding: 0 2px;
        border-radius: 5px;
        transition: 0.5s;
        font-size: 20px;
        &:hover {
            background-color: #494949;
            transition: 0.5s;
        }
    }
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: $font_color_title;
    font-size: 50px;
    margin: 15px 0;
}
h2 {
    color: $font_color_title;
}
h3 {
    color: $font_color_title;
}
h4 {
    color: $font_color_title;
}

body {
    background: linear-gradient(128deg, rgba(41,41,41,1) 0%, rgba(48,48,48,1) 50%, rgba(41,41,41,1) 100%);
    max-width: 1920px;
    min-height: 100vh;
    margin: auto;
}