.navbar-bars {
    cursor: pointer;
    position: fixed;
    right: 75px;
    top: 60px;
    z-index: 10000;
    i {
        font-size: 60px;
        transition: 0.5s;
    }
    &:hover {
        cursor: pointer;
        -webkit-animation: nav-bars 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: nav-bars 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        i {
            transition: 0.3s;
            color: #b8b8b8;
        }
    }

}
.navbar-active {
    visibility: hidden;
    z-index: 1000000;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateY(-1000px);
    width: 100vw;
    height: 100vh;
    background: $background_color;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    transition: 0.3s ease;
    ul {
        list-style: none;
        li {
            text-align: center;
            margin: 0 0 45px;
            a {
                transition: 0.2s;
                font-size: 60px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    transition: 0.2s;
                    color: #b8b8b8;
                }
            }
        }
    }
}

.navbar-active-display {
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
}


@media screen and (max-width: 600px)
{
    .navbar-bars {
        right: 25px;
        top: 25px;
        background-color: #1d1d1d;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        text-align: center;
        i {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 550px)
{
    .navbar-active {
        ul {
            li {
                a {
                    font-size: 30px;
                }
            }
        }
    }
}