.button-before {
    @include button-nav;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    p {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        color: $font_color_title;
    }
    &:hover {
        i {
            font-size: 80px;
            transition: 0.5s;
        }
        p {
            visibility: visible;
            opacity: 1;
            left: 100px;
            transition: 0.5s;
        }
    }
}

.button-next {
    @include button-nav;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    p {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        color: $font_color_title;
    }
    &:hover {
        i {
            font-size: 80px;
            transition: 0.5s;
        }
        p {
            visibility: visible;
            opacity: 1;
            right: 100px;
            transition: 0.5s;
        }
    }
}