.button-before {
    @include button-nav;
    position: fixed;
    left: 0;
    top: 50vh;
    transform: translateY(-50%);
    p {
        margin: 0;
        position: absolute;
        left: 75px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        color: $font_color_title;
    }
    &:hover {
        i {
            font-size: 80px;
            transition: 0.5s;
        }
        p {
            visibility: visible;
            opacity: 1;
            left: 125px;
            transition: 0.5s;
        }
    }
}

.button-next {
    @include button-nav;
    position: fixed;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    p {
        margin: 0;
        position: absolute;
        right: 75px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        color: $font_color_title;
    }
    &:hover {
        i {
            font-size: 80px;
            transition: 0.5s;
        }
        p {
            visibility: visible;
            opacity: 1;
            right: 125px;
            transition: 0.5s;
        }
    }
}

.button-back {
    cursor: pointer;
    position: fixed;
    left: 75px;
    top: 60px;
    z-index: 1000000;
    i {
        font-size: 60px;
        transition: 0.5s;
    }
    &:hover {
        cursor: pointer;
        i {
            transition: 0.3s;
            color: #b8b8b8;
        }
    }

}
.mobile-next {
    @include button-nav;
    display: none;
    position: relative;
    margin: 50px auto;
    p {
        margin: 0;
        position: absolute;
        right: 75px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        color: $font_color_title;
    }
    &:hover {
        i {
            font-size: 80px;
            transition: 0.5s;
        }
        p {
            visibility: visible;
            opacity: 1;
            right: 125px;
            transition: 0.5s;
        }
    }
}

@media screen and (max-width: 900px)
{
    .navigation {
        display: none;
    }
    .mobile-next {
        display: block;
    }
}

@media screen and (max-width: 600px)
{
    .button-back {
        left: 25px;
        top: 30px;
        background-color: #1d1d1d;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        text-align: center;
        i {
            margin-top: 10px;
        }
    }
}

