@-webkit-keyframes nav-bars {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @keyframes nav-bars {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }

  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }


.animation {
  z-index: 10000000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #303030;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  i {
    font-size: 55px;
    animation: rotate-center 1.5s linear infinite both;
  }
}