@mixin button-nav {
    width: 200px;
    text-align: center;
    i {
        font-size: 70px;
        transition: 0.5s;
    }
    &:hover {
        cursor: pointer;
    }
}

@mixin social-hover {
    &:hover {
        padding-left: 40px;
    }
}